<%- include('header'); -%>

<article>
  <img src="<%=post.image %>" alt="">
  <h1><%=post.title %></h1>
  <h2><%=post.Artiest %></h2>
  <p><%=post.uitleg %></p><br>
  <img src="<%=post.artistImage %>">
  <p><%=post.uitleg2 %></p><br>
  <p><%=post.uitleg3 %></p><br>
  <p><%=post.uitleg4 %></p><br>
  <p><%=post.uitleg5 %></p><br>
  <p><%=post.uitleg6 %></p><br>
  <p><%=post.uitleg7 %></p>

</article>

<%- include('footer'); -%>
