<%- include ("header"); -%>
   <div class="dates">
     <p>Monday</p>
     <p>Closed</p>

     <p>Tuesday</p>
     <p>Closed</p>

     <p>Wednesday</p>
     <p>12-20u</p>

     <p>Thursday</p>
     <p>16-21u</p>

     <p>Friday</p>
     <p>16=22u</p>

     <p>Saturday</p>
     <p>10-20u</p>

     <p>Sunday</p>
     <p>10-19u</p>
   </div>

   <div class="presenting">
     <h1>Illustrative art.</h1>
     <a href="portfolio"><img src="<%=posts[1].image %>" alt=""></a>
      <h2><%=posts[1].title %> by <%=posts[1].Artiest %></h2>
      <p>Our exhibition titled "Illustrative Art" is about bright colors, cartoonisch figures and dreamworlds. We present names like : Kaws(US),Keith Haring(US),Steven Harrington(US),Piet Parra(NL),Ryan Travis(US).</p>
   </div>





<%- include ("footer2"); -%>
